[Desktop Entry]
Name=Anti Ruscher
Comment=Agent Anti Ruscher
Exec=/usr/bin/anti-ruscher
Terminal=false
Type=Application
Categories=
#X-GNOME-Autostart-Phase=WindowManager
#NoDisplay=true
